body {
    margin: 0;
    background-color: rgb(42, 163, 165);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

img {   
    width: 100%;
}